.container {
  width: 100vw;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: ". hero menuToggle";
}

.title {
  font-size: 42px;
  grid-area: hero;
  text-align: center;
}

.title span:nth-of-type(1) {
  color: #ff0000;
}
.title span:nth-of-type(2) {
  color: #ffa500;
}
.title span:nth-of-type(3) {
  color: #ffd700;
}
.title span:nth-of-type(4) {
  color: #008000;
}
.title span:nth-of-type(5) {
  color: #87cefa;
}
.title span:nth-of-type(6) {
  color: #0000ff;
}
.title span:nth-of-type(7) {
  color: #800080;
}
.title span:nth-of-type(8) {
  color: #ee82ee;
}
.title span:nth-of-type(9) {
  color: #ffc0cb;
}
.title span:nth-of-type(10) {
  color: #a52a2a;
}

.navbar {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 57px;
  left: 0;
  width: 100vw;
}

.menuOpen {
  display: flex;
}

.menuToggleContainer {
  grid-area: menuToggle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuToggle {
  border: 0;
  padding: 0;
  background-color: white;
}
